@import "_flaticon.scss";
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.wrapper {
    height: 100vh;
    display: flex;
    @for $i from 1 through 3 {
        .div#{$i} {
            background: rgb( random(255), random(255), random(255));
        }
    }
    .divider {
        height: 100vh;
        width: 6px;
        background: #fff;
        transform: translateX(-3px);
        position: absolute;
        top: 0;
        z-index: 1;
        cursor: ew-resize;
    }
    .center div {
        height: 50vh;
    }
}

// reset
body {
    margin: 0;
}