<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<meta http-equiv="“Pragma”" content="”no-cache”" />
		<meta http-equiv="“Expires”" content="”-1″" />
		<meta http-equiv="“CACHE-CONTROL”" content="”NO-CACHE”" />
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
	</head>

	<body>
		<noscript>
			<strong
				>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't
				work properly without JavaScript enabled. Please enable it to
				continue.</strong
			>
		</noscript>
		<div id="app"></div>
		<div id="dragging"></div>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/8.2.1/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/8.2.1/firebase-analytics.js"></script>

		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>
		<!-- built files will be auto injected -->
	</body>
</html>
