<template>
  <div>
    <ul id="examplea-">
      <li v-for="item in totalVuePackages" :key="item.id">
        {{ item.cat_name }}
      </li>
    </ul>
    <hot-table :data="totalVuePackages">
      <hot-column title="ID" data="cat_name"> </hot-column>
      <hot-column title="Price" data="cat_name"> </hot-column>
      {{ totalVuePackages }}
    </hot-table>
  </div>
</template>

<script>
import { HotTable, HotColumn } from "@handsontable/vue";
// import * as http from "http";

export default {
  data: function () {
    return {
      data: [],
    };
  },
  async mounted() {
    const response = await fetch(
      "https://bipolar.websearchpro.net/api/library-articles/"
    );
    const data = await response.json();
    if (data.status === "ok") {
      console.log(data.data);
      this.totalVuePackages = data.data;
      // return data.data;
    }

    //  await fetch("https://bipolar.websearchpro.net/api/library-articles/", {
    //   method: "GET",
    //   headers: {
    //     "x-rapidapi-host": "jokes-database.p.rapidapi.com",
    //     "x-rapidapi-key": this.apiKey,
    //   },
    // })
    //   .then((response) => {
    //     console.log( response );
    //     if (response.status) {
    //       console.log( response.json() );
    //       // return response.json();

    //     } else {
    //       alert(
    //         "Server returned " + response.status + " : " + response.statusText
    //       );
    //     }
    //   })
    //   .then((response) => {
    //     console.log(response);
    //   })
    //   .catch((err) => {
    //     console.log(err);
    //   });
    // http.request({
    //     url: "https://bipolar.websearchpro.net/api/library-articles/",
    //     method: "GET",
    //   })
    //   .then((response) => {
    //       var result = response.content.toJSON();
    //       console.log(result);
    //     },
    //     (error) => {
    //       console.error(error);
    //     }
    //   );
    //       http.getJSON("https://bipolar.websearchpro.net/api/library-articles/").then(result => {
    //   this.pokemon = result.results;
    //   console.log(this.pokemon);
    // }, error => {
    //   console.log(error);
    // });
  },
  components: {
    HotTable,
    HotColumn,
  },
};
</script>

<style src="../../node_modules/handsontable/dist/handsontable.full.css"></style>